MYSQLHOST=mysql.railway.internal
MYSQLPORT=3306
MYSQLDATABASE=railway
MYSQLUSER=root
MYSQLPASSWORD=CAfdRrLcFpjGYdlOXKDchHsZKdPhfLvw

# Alternativa: usar una URL completa de Railway.
# MYSQL_URL=mysql://usuario:password@host:puerto/base
